#content-container
  #breadcrumb
    = @artist.name
    .slash &nbsp;/&nbsp;
    .second portfolio
  .portfolio
    - @artist.projects.each do |project|
      = link_to "/#{@artist.name.downcase.gsub(" ", "-")}/#{project.title.downcase.gsub(" ", "-")}" do
        .project
          = image_tag project.image.url
          .caption
            = project.title
  .recent-work
    .artist-heading
      recent work
  .bio
    .artist-heading
      biography
    = @artist.bio.html_safe
    
