= wicked_pdf_stylesheet_link_tag "pdf"
#pdf
  .page.cover
    = wicked_pdf_image_tag "logo_print_big.gif"
    .date
      Lightbox &ndash; 
      = Time.now.strftime("%m.%e.%Y")
  - session[:slides].each do |slide|
    .page
      = wicked_pdf_image_tag "logo_print.gif"
      .line
      = image_tag Slide.find(slide).image.url
      .caption
        = Slide.find(slide).project.artist.name
        .slash &nbsp;/&nbsp;
        .second= Slide.find(slide).project.title
      .footer
        = Information.first.contact.html_safe

