#content-container
  #breadcrumb
    Lightbox
    #view-as-grid
      = link_to lightbox_pdf_path(:format => :pdf), :id => "download-pdf" do
        = image_tag("download_up.gif")
        download PDF
  - if @slides.empty?
    #sorry
      Your lightbox is empty. You can add slides from artists' projects.
  - else
    #lightbox-grid
      - @slides.each do |slide|
        .project.lightbox{:data => {:id => slide.id}}
          = link_to lightbox_remove_path(slide.id), :class => 'close', :remote => true do
            = image_tag 'close.gif'
          = image_tag slide.image.url
          .caption
            .artist-name= slide.project.artist.name
            .slash= "/"
            .client= slide.project.title
