#content-container
  #breadcrumb
    Information
  .text
    = Information.first.text.html_safe
  #twitter
    / TODO: authenticate against a user to prevent rate limiting
    = link_to '@goldteethandco', 'https://twitter.com/goldteethandco', :id => 'twitter-name', :target => '_blank'
    - Twitter.user_timeline("goldteethandco", :count => 4).each do |tweet|
      .tweet
        .ago
          = "#{time_ago_in_words tweet.created_at} ago"
        = tweet.text.gsub(/(http:\/\/\S*)/, '<a href="\1" target="_blank">\1</a>').html_safe
  #instafeed
    #instafeed-title instafeed
    - Instagram.user_media_feed(:count => 20).data.each_with_index do |data, i|
      - unless i > 9
        .photo
          = link_to image_tag(data.images.thumbnail.url), data.link, :target => "_blank"
          .username= data.user.username
          .ago= "&ndash; #{time_ago_in_words DateTime.strptime("#{data.created_time}",'%s')} ago".gsub("about ", "").html_safe
