#content-container
  #breadcrumb
    Information
  .text
    = Information.first.text.html_safe
  #twitter
  #instafeed
    #instafeed-title instafeed
    - Instagram.user_media_feed(:count => 25).data.each_with_index do |data, i|
      - unless i > 9
        .photo
          = link_to image_tag(data.images.thumbnail.url), data.link, :target => "_blank"
          .username= data.user.username
          .ago= "&ndash; #{time_ago_in_words DateTime.strptime("#{data.created_time}",'%s')} ago".gsub("about ", "").html_safe
