#content-container
  = render "breadcrumb"
  #controls
    #left
      = link_to responsive_image_tag("grid.gif", :width => 11), projects_grid_path(@artist.url_name, @project.url_title)
      %span#current-slide= ''
      \/
      %span#total-slides= "#{@project.slides.length}"
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'prev', 'javascript:void(0);', :id => 'prev'
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'next', 'javascript:void(0);', :id => 'next'
    #right
      #pin-it
        - @slides.each do |slide|
          = link_to "http://pinterest.com/pin/create/button/?url={URI-encoded URL of the page to pin}&media=#{convert_path(slide.image.non_retina.url)}&description={optional URI-encoded description}" do
          pin it
      = link_to "http://www.facebook.com/sharer.php?s=100&p[title]=Goldteeth%26Co&p[summary]=#{strip_tags @project.subtitle}&p[url]=#{request.protocol}#{request.host_with_port}#{request.fullpath}&p[images][0]=#{@project.slides.first.image.url}" do
        = image_tag "facebook.gif"
        share
      = link_to "http://twitter.com/share?url=#{request.protocol}#{request.host_with_port}#{request.fullpath}" do
        = image_tag "twitter.gif"
        tweet
      = link_to "", :id => "lightbox", :remote => true do
        = image_tag "add_to_lightbox.gif", :style => "margin-bottom: -2px;"
        add to lightbox
  #slides
    - @slides.each do |slide|
      .slide
        - if slide.video.present?
          %iframe(src="http://player.vimeo.com/video/#{slide.video}?title=0&byline=0&portrait=0&color=ffffff" width="900" height="506" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen)
        - else
          = responsive_image_tag slide.image.non_retina.url, :data => {:id => slide.id}
        - if slide.caption.present?
          .caption
            = slide.caption
  #subtext
    - if @project.client
      #client= @project.client
    - if @project.subtitle
      #description= @project.subtitle
