#content-container
  = render "breadcrumb"
  #controls
    #left
      = link_to image_tag("grid.gif"), projects_grid_path(@artist.url_name, @project.url_title)
      %span#current-slide= ''
      \/
      %span#total-slides= "#{@project.slides.length}"
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'prev', 'javascript:void(0);', :id => 'prev'
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'next', 'javascript:void(0);', :id => 'next'
    #right
      %a(href="/")
        = image_tag "facebook.gif"
        share
      %a(href="/")
        = image_tag "twitter.gif"
        tweet
      = link_to "", :id => "lightbox", :remote => true do
        = image_tag "add_to_lightbox.gif", :style => "margin-bottom: -2px;"
        add to lightbox
  #slides
    - @slides.each do |slide|
      .slide
        - if slide.video.present?
          %iframe(src="http://player.vimeo.com/video/#{slide.video}?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="900" height="506" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen)
        - else
          %img{:src => slide.image.url, :data => {:id => slide.id}}
        - if slide.caption.present?
          .caption
            = slide.caption
  #subtext
    - if @project.client
      #client= @project.client
    - if @project.subtitle
      #description= @project.subtitle
