= semantic_form_for [:admin, @information] do |f|
  = f.inputs do
    = f.input :text, :input_html => { :class => 'wysiwyg' }
    = f.input :contact, :input_html => { :class => 'wysiwyg' }
  = f.actions
