= semantic_nested_form_for [:admin, @post], :html => { :multipart => true } do |f|
  = f.inputs do
    = f.input :artist
    = f.input :client
    = f.input :body, :input_html => { :class => 'wysiwyg' }
    = f.input :thumb
  = f.fields_for :post_images do |b|
    = f.inputs do
      = b.input :image, :as => :file, :label => false
      - unless b.object.image.url.blank?
        = image_tag b.object.image.thumb.url, :style => "padding: 10px; display: block;"
      = b.link_to_remove "Remove slide"
  = f.link_to_add "Add an image", :post_images
  = f.actions
