.post
  - if post.post_images.length > 1
    .controls
      %span.current-slide= ''
      \/
      %span.total-slides= "#{post.post_images.length}"
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'prev', 'javascript:void(0);', :class => 'prev'
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'next', 'javascript:void(0);', :class => 'next'
    .slides
      - post.post_images.order('position').each do |post_image|
        .slide
          - if post_image.video.present?
            %iframe(src="http://player.vimeo.com/video/#{post_image.video}?title=0&byline=0&portrait=0&color=ffffff" width="900" height="506" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen)
          - else
            = responsive_image_tag post_image.image.non_retina.url, :data => {:id => post_image.id}
          - if post_image.caption.present?
            .caption
              = post_image.caption
  - else
    - post.post_images.each do |post_image|
      .slide
        - if post_image.video.present?
          %iframe(src="http://player.vimeo.com/video/#{post_image.video}?title=0&byline=0&portrait=0&color=ffffff" width="900" height="506" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen)
        - else
          = responsive_image_tag post_image.image.non_retina.url
        - if post_image.caption.present?
          .caption
            = post_image.caption
  - unless params[:action] == 'show'
    .date
      = post.created_at.getlocal.strftime("%b %e, %Y")
  .body
    = post.body.html_safe
  .social-links
    = link_to "http://www.tumblr.com/share/link?url=#{url_encode post_url(post)}&name=#{url_encode post.artist.name if post.artist.present?}%20%2F%20#{url_encode post.client if post.client.present?}", :target => "_blank" do
      = image_tag "tumblr.png"
      tumblr
    = link_to "http://www.facebook.com/sharer.php?s=100&p[title]=#{url_encode post.artist.name if post.artist.present?}%20%2F%20#{url_encode post.client if post.client.present?}&p[summary]=#{Rack::Utils.escape strip_tags(post.body)}&p[url]=#{url_encode post_url(post)}&p[images][0]=#{post.post_images.first.image.url if post.post_images.present?}", :target => "_blank" do
      = image_tag "facebook.gif"
      share
    = link_to "http://twitter.com/intent/tweet?url=#{url_encode post_url(post)}&text=#{url_encode post.artist.name if post.artist.present?}%20%2F%20#{url_encode post.client if post.client.present?}", :target => "_blank" do
      = image_tag "twitter.gif"
      tweet
    - if post.post_images.length > 1
      = link_to "", :data => {:model => 'post'}, :id => "lightbox", :remote => true do
        = image_tag "add_to_lightbox.gif", :style => "margin-bottom: -2px;"
        add to lightbox
    - else
      = link_to "lightbox/add/post/#{post.post_images.first.id}", :remote => true do
        = image_tag "add_to_lightbox.gif", :style => "margin-bottom: -2px;"
        add to lightbox
    - unless params[:action] == 'show'
      = link_to post_path(post.id) do
        = responsive_image_tag "link.gif", :width => 13
        link
