.post
  - if post.post_images.length > 1
    .controls
      %span.current-slide= ''
      \/
      %span.total-slides= "#{post.post_images.length}"
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'prev', 'javascript:void(0);', :class => 'prev'
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'next', 'javascript:void(0);', :class => 'next'
    .slides
      - post.post_images.each do |post_image|
        = image_tag post_image.image.url, :class => 'slide'
  - else
    - post.post_images.each do |post_image|
      = image_tag post_image.image.url, :class => 'slide'
  - unless params[:action] == 'show'
    .date
      = post.created_at.getlocal.strftime("%b %e, %Y")
  .body
    = post.body.html_safe
  .social
    = link_to "http://www.facebook.com/sharer.php?s=100&p[title]=#{post.artist.name}%20%2F%20#{post.client}&p[summary]=#{strip_tags post.body}&p[url]=#{request.protocol}#{request.host_with_port}#{request.fullpath}&p[images][0]=#{post.post_images.first.image.url if post.post_images.present?}" do
      = image_tag "facebook.gif"
      share
    - if params[:action] == 'show'
      = link_to "http://twitter.com/share?url=#{request.protocol}#{request.host_with_port}#{request.fullpath}" do
        = image_tag "twitter.gif"
        tweet
    - else
      = link_to "http://twitter.com/share?url=#{post_url(post.id)}&text=#{post.artist.name}%20%2F%20#{post.client}" do
        = image_tag "twitter.gif"
        tweet
    - unless params[:action] == 'show'
      = link_to post_path(post.id) do
        = responsive_image_tag "link.gif", :width => 13
        link
