#content-container
  #breadcrumb
    News
    #view-as-grid
      = link_to posts_path do
        = image_tag("list.gif")
        view as list
  #news-grid
    - @posts.each do |post|
      = link_to post_path(post.id), :class => "project" do
        - if post.thumb.present?
          = responsive_image_tag post.thumb.non_retina_thumb.url
        .caption
          - if post.artist.present?
            .artist-name= post.artist.name
            .slash= "/"
            .client= post.client
          - else
            .artist-name Agency News
