#content-container
  #breadcrumb
    News
    #view-as-grid
      = link_to posts_path do
        = image_tag("list.gif")
        view as list
  #news-grid
    - @posts.each do |post|
      = link_to post_path(post.id), :class => "project" do
        = responsive_image_tag post.thumb.non_retina_thumb.url
        .caption
          .artist-name= post.artist.name
          .slash= "/"
          .client= post.client
