!!!
%html
  %head
    %title Goldteeth & Co.
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    #container
      #header
        = link_to image_tag("logo.gif", :alt => "Goldteeth & Co.", :id => "logo"), root_path
        #nav
          = if @page != "artists" then link_to "artists", root_path else "artists" end
          .slash &nbsp;/&nbsp;
          = if @page != "news" then link_to "news", posts_path else "news" end
          .slash &nbsp;/&nbsp;
          = if @page != "info" then link_to "information", information_path else "information" end
          .slash &nbsp;/&nbsp;
          - if @page != "lightbox"
            = link_to lightbox_path, :id => "lightbox-nav" do
              = image_tag 'lightbox_up.gif', :id => "lightbox-nav-img"
              - unless session[:slides]
                %span.count (0)
              - else
                %span.count= "(#{session[:slides].length})"
              lightbox
          - else
            = image_tag 'lightbox_down.gif', :id => "lightbox-nav-img"
            - unless session[:slides]
              %span.count (0)
            - else
              %span.count= "(#{session[:slides].length})"
            lightbox
      = yield
      #footer
        = Information.first.contact.html_safe
