!!!
%html
  %head
    %title Goldteeth
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  /%body.holmes-debug
  %body
    %p.notice= notice
    %p.alert= alert
    #container
      #header
        = link_to image_tag("logo.gif"), root_path
        #nav
          = if @page != "artists" then link_to "artists", root_path else "artists" end
          .slash &nbsp;/&nbsp;
          = if @page != "news" then link_to "news", root_path else "news" end
          .slash &nbsp;/&nbsp;
          = if @page != "info" then link_to "information", root_path else "lightbox" end
          .slash &nbsp;/&nbsp;
          = if @page != "lightbox" then link_to "lightbox", root_path else "lightbox" end
      = yield
      #footer
        10 East 23rd Street, 5th Floor, New York, NY 10010
        %br
        (646) 405-1256 office  /  (646) 405-1252 mobile
        %br
        = link_to "info@goldteethandco.com", "mailto:info@goldteethandco.com"
