!!!
%html
  %head
    %title Goldteeth & Co.
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  /%body.holmes-debug
  %body
    %p.notice= notice
    %p.alert= alert
    #container
      #header
        = link_to image_tag("logo.gif"), root_path
        #nav
          = if @page != "artists" then link_to "artists", root_path else "artists" end
          .slash &nbsp;/&nbsp;
          = if @page != "news" then link_to "news", posts_path else "news" end
          .slash &nbsp;/&nbsp;
          = if @page != "info" then link_to "information", information_path else "information" end
          .slash &nbsp;/&nbsp;
          = if @page != "lightbox" then link_to "lightbox", root_path else "lightbox" end
      = yield
      #footer
        = Information.first.contact.html_safe
