!!!
%html
  %head
    %title Goldteeth
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    #container
      #header
        = image_tag "logo.gif"
        #nav
          = if @page != "artists" then link_to "artists", root_path else "artists" end
          .slash &nbsp;/&nbsp;
          = if @page != "news" then link_to "news", root_path else "news" end
          .slash &nbsp;/&nbsp;
          = if @page != "info" then link_to "info", root_path else "info" end
    = yield
